POSTGRES_USER=smartpos
POSTGRES_PASSWORD=smartpos
JWT_ISSUER=smart-pos-platform
JWT_SECRET=change-me-at-least-32-characters
SPRING_PROFILES_ACTIVE=local
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
REDIS_HOST=redis
REDIS_PORT=6379
DEFAULT_CURRENCY=AED
DEFAULT_LOCALE=en-AE
DEFAULT_TIMEZONE=Asia/Dubai
